{% extends '@Admin/layout.html.twig' %}

{% block content_container %}
    <section class="content">
        <div class="container-fluid">
            {% block filters %}
                {% include '@Admin/Elements/filters.html.twig' %}
            {% endblock %}

            {% for message in app.session.flashBag.get('admin_flash_success') %}
                <div class="alert alert-success">
                    <h5><i class="icon fas fa-check"></i> Alert!</h5>
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.session.flashBag.get('admin_flash_error') %}
                <div class="alert alert-danger">
                    <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.session.flashBag.get('admin_flash_info') %}
                <div class="alert alert-info">
                    <h5><i class="icon fas fa-info"></i> Alert!</h5>
                    {{ message }}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}